<div class="skeleton skeleton__main">
  <bs-header [headline]="'Home'">
    <div class="header--buttons">
      <button>A</button>
      <button>B</button>
    </div>
  </bs-header>

  <div class="d-flex flex-column align-items-center w-100">
    <h1 class="">Angular 8 with BiSkinKit</h1>

    <p>Ngb-Datepicker</p>
    <ngb-datepicker></ngb-datepicker>

    <p class="m-3">Lovely AG-Grid</p>

    <ag-grid-angular
      style="/* stylelint-disable */ width: 500px;height: 500px;"
      class="ag-theme-balham"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
    >
    </ag-grid-angular>
  </div>
</div>
